@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  background-color: #d06cc2;
  font-family: 'Poppins', sans-serif;
}

/* register page */
.img-fluid {
  width: 600px;
  max-height: 80%;
}

.input-form {
  width: 81%;
  padding: 30px 28px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

label {
  font-weight: 600;
}

.btn-masuk {
  width: 50%;
  background-color: #631465;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.btn-masuk:hover,
.btn-login:hover {
  color: #fff;
  background-color: #360936;
}

.btn-login {
  width: 100%;
  background-color: #8e6d8f;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
}

/* halaman login */
.form-text a {
  text-decoration: none;
}

.forget-password {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.forget-password img {
  max-height: 250px;
}

.forget-password .container {
  width: 40%;
}
